.root {
    -fx-font-family: CCVictorySpeechW00-Regular;
    -fx-text-fill: -fu-my-white;
    -fu-my-white: #d4d4d4;
    -fu-my-red: #a10000;
    -fu-my-grey: #9c9c9c;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: -fu-my-white;
}

.button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: -fu-my-grey;
}

.button:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: -fu-my-red;
}

.separator {
    -fx-pref-height: 20;
}

.separator .line {
    -fx-border-color: transparent transparent transparent transparent,
    transparent transparent transparent -fu-my-white;
    -fx-border-width: 0, 2;
    -fx-border-insets: 0, 0 0 0 0;
    -fx-border-radius: 10
}

.grid {
    -fx-background-color: transparent;
    -fx-hgap: 2.5;
    -fx-vgap: 2.5;
    -fx-padding: 3;
    -fx-border-color: -fu-my-red;
    -fx-border-radius: 6;
    -fx-border-width: 2;
}

.grid .button {
    -fx-background-color: #37373c;
    -fx-background-radius: 4;
    -fx-pref-height: 50;
    -fx-pref-width: 50;
}

.grid .button {
    -fx-background-color: #2b2b30;
}

.grid .button:warning {
    -fx-background-color: #2b2b30;
    -fx-text-fill: orange;
}

.grid .button:danger {
    -fx-background-color: #2b2b30;
    -fx-text-fill: red;
}

.grid .button:hover {
    -fx-background-color: #2b2b30;
}

.grid .button:disabled {
    -fx-background-color: rgba(55, 55, 60, 0.6);
}

